.reflct-wrapper {
  container-name: reflct-container;
  container-type: inline-size;
}

@container reflct-container (width < 768px) {
  .reflct-wrapper .reflct-text-details {
    display: none;
  }
}
