.reflct-controls {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.reflct-controls.inactive {
  opacity: 0.28;
  pointer-events: none;
  cursor: default;
}

.reflct-controls > .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 8px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.05);

  backdrop-filter: blur(50px);

  border-radius: 9999px;
  transition: background-color 0.1s ease-in-out;
  border: 0px;
  cursor: pointer;
}

.reflct-controls > .button:disabled {
  opacity: 0.28;
  pointer-events: none;
  cursor: default;
}

.reflct-controls > .button.big {
  width: 64px;
  height: 64px;
}

.reflct-controls > .button:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
