.reflct-linked-scenes {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease-in-out;
}

.reflct-linked-scenes.show {
  opacity: 1;
  pointer-events: auto;
}

.reflct-linked-scenes .select {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  padding: 0px 12px 0px 16px;

  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 9999px;

  backdrop-filter: blur(50px);

  transition: background-color 0.1s ease-in-out;
  cursor: pointer;

  z-index: 1;
}

.reflct-linked-scenes .select.active {
  background-color: rgba(255, 255, 255, 0.08);
}

.reflct-linked-scenes .select:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.reflct-linked-scenes .dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  display: flex;
  flex-direction: column;

  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 24px;

  padding: 2px 4px;

  transform: translateY(4px);

  opacity: 0;
  pointer-events: none;

  min-width: 207px;
  width: max-content;

  backdrop-filter: blur(50px);
  z-index: 0;

  transition: opacity 0.1s ease-in-out;
  overflow: hidden;
}

.reflct-linked-scenes .dropdown.show {
  opacity: 1;
  pointer-events: auto;
}

.reflct-linked-scenes .dropdown button:first-child {
  border-top: 0px;
}

.reflct-linked-scenes .dropdown button {
  width: 100%;
  min-width: 175px;
  max-width: 280px;
  height: 48px;

  padding: 0px 16px;
  border-radius: 10px;

  cursor: pointer;

  text-align: left;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.35);

  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.reflct-linked-scenes .dropdown button:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
